{{define "title"}}{{$.Data.Project}}{{end}}
{{define "headinsert"}}
<script>
    {{if ne 0 $.Data.PreviewAlpha}}
    var previewAlpha = {{$.Data.PreviewAlpha}};
    {{end}}
</script>
<style>
    .traceCanvas {
        min-height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: #ffffff; */
        border:1px solid #000000;
        margin:0;
        padding:0;
        position:relative;
        /* left:50px; */
        /* width:100%; */
        touch-action: manipulation; /* see https://stackoverflow.com/questions/38958354/explain-situation-when-you-might-use-touch-action-manipulation */
    }
</style>

{{end}}

{{define "bodyinsert"}}
<div class="notif-div" id="drawmessage">Hello</div>
{{end}}

{{define "page"}}
<span>Project: <a href="/listproject">{{$.Data.Project}}</a>. </span>
<span><a id="skiplink" href="/traceoverlay/{{add 1 $.Data.ManifestIndex}}">[Skip] </a> </span>
<span>{{$.Data.ManifestIndex}}. Zip: {{$.Data.ManifestEntry.Zip}}. Dicom: {{$.Data.ManifestEntry.Dicom}}</span>
<span><a target="cine" href="/traceoverlay/cinehtml/{{$.Data.ManifestEntry.Zip}}/{{$.Data.ManifestEntry.Series}}" onclick='event.preventDefault();window.open("/traceoverlay/cinehtml/{{$.Data.ManifestEntry.Zip}}/{{$.Data.ManifestEntry.Series}}", "cine", "height=400,width=400");'>CINE</a></span>
<span><a target="cine" href="/traceoverlay/cinehtml/{{$.Data.ManifestEntry.Zip}}/{{$.Data.ManifestEntry.Series}}" onclick='event.preventDefault();window.open("/traceoverlay/cinehtml/{{$.Data.ManifestEntry.Zip}}/{{$.Data.ManifestEntry.Series}}?all=true", "cine", "height=400,width=400");'>CINE-stack</a></span>
<br />
<button class="btn btn-primary" onclick="javascript:setBrushSize(1);">● Size:1px</button>
<button class="btn btn-primary" onclick="javascript:setBrushSize(2);">● Size:2px</button>
<button class="btn btn-primary" onclick="javascript:setBrushSize(3);">● Size:3px</button>
<button class="btn btn-primary" onclick="javascript:setBrushSize(10);">◉ Size:10px</button>
<br />
<button class="btn btn-default" onclick="javascript:setBrush('stroke');">● Trace</button>
<button class="btn btn-default" onclick="javascript:setBrush('fill');">▧ Fill</button>
<button class="btn btn-default" onclick="javascript:setBrush('line');">- Line</button>
<button class="btn btn-default" onclick="javascript:setBrush('eraser');">ⓧ Erase</button>
<button class="btn btn-default" onclick="javascript:setBrush('ekg');">√ EKG</button>
<!-- <button onclick="javascript:fullyShade();">Shade</button> -->
<button class="btn btn-danger" onclick="javascript:;" ontouch="javascript:;" id="undo">↺Undo</button>
<br />
<br />
<span id="labels">
{{range $k, $v := $.Data.Labels}}
    <button class="btn btn-primary {{if (eq 1 $k)}}default-color{{end}}" style="background-color:{{$v.Color}};" onclick="javascript:setBrushColor('{{$v.Color}}');">{{$v.Label}}</button>
{{end}}
</span>
<br />
<br />
<form method="POST" id="saveImage" action="/traceoverlay/{{$.Data.ManifestIndex}}">
    <input type="hidden" value="" name="imgBase64" id="imgBase64" />
</form>

<button class="btn btn-info" onclick="javascript:saveCanvas();">Save Overlay to Server</button>
<button class="btn btn-default btn-sm" onclick="javascript:downloadCanvas();">Download</button>
<br />
<br />

<canvas 
style="background-image: url('data:image/png;base64,{{$.Data.EncodedImage}}')"
class="traceCanvas" 
id="imgCanvas" 
width="{{$.Data.Width}}" 
height="{{$.Data.Height}}"></canvas>

<!-- <canvas 
style="background-image: url('{{.Assets}}/img/128px-Utah_teapot_simple_2.png')"
class="traceCanvas" 
id="imgCanvas" 
width="128" 
height="85"></canvas> -->

<script>
    {{/* Pre-existing annotation  - only populate if it exists. */}}
    var preExistingImage = document.createElement("img");
    preExistingImage.width = {{$.Data.Width}};
    preExistingImage.height = {{$.Data.Height}};
</script>

<script>

    {{if (ge $.Data.BrushSize 1)}}
        var defaultBrushSize = {{$.Data.BrushSize}};
    {{end}}
    
    document.addEventListener('DOMContentLoaded', function(event){
        setBrushColor({{(index $.Data.Labels 1).Color}})

        {{if $.Data.DefaultBrush}}
            setBrush("{{$.Data.DefaultBrush}}");
        {{end}}
    }, false);

{{if $.Data.HasOverlay}}

    preExistingImage.src = "data:image/png;base64,{{$.Data.EncodedOverlayImage}}";

    // document.addEventListener('DOMContentLoaded', function(event){
    preExistingImage.onload = function() {

        var canvas = document.getElementById("imgCanvas");
        var context = canvas.getContext("2d");

        context.drawImage(preExistingImage, 0, 0);
        fullyShade(previewAlpha);
    };
    // }, false);

{{end}}

</script>
<!-- <script>
    function rePosition() {
        var drag = document.getElementById("drawmessage");

        drag.style.left = window.innerWidth/2 + window.pageXOffset + 'px';
        drag.style.top = window.innerHeight/2 + window.pageYOffset + 'px';
    }

    window.addEventListener('scroll', function(e){
        rePosition();
    })
</script> -->

<script src="{{.Assets}}/js/traceoverlay.js"></script>
<script src="{{.Assets}}/js/bmp.js"></script>
<script src="{{.Assets}}/js/fill.js"></script>
{{end}}