.jumbotron.home * {
	color: #fff;
}

.jumbotron.home input {
	color: #000;
}

.notif-div{
	background-color: #000;
	position:fixed;
	top: 70%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
    z-index:60;
	visibility: hidden;
	margin:4px;
}

#imgCanvas {
    margin-left: auto;
    margin-right: auto;
	display: block;
	image-rendering: pixelated;
}

image {
	image-rendering: pixelated;
}
