.jumbotron.home * {
	color: #fff;
}

.jumbotron.home input {
	color: #000;
}

.notif-div{
	background-color: #000;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	transform: translate3d(0,0,0);
    z-index:60;
	visibility: hidden;
	padding:4px;
}
